body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#main>article{
    overflow-y: auto;
    padding: .5em 1em 0 1em;
}

.char{
    font-size: 1.2em;
    background-color: white;
    margin: 0;
    padding: 0;
}

.char.highlighting-char{
    background-color: orange;
    color: white;
}

@keyframes show-responsor{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

#responsor{
    position: fixed;
    color: wheat;
    box-shadow: 0 0 0.5em grey;
    width: 20em;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
    display: none;
    /* border-radius: .5em; */
}
#responsor.show-responsor{
    display: block;
    animation: show-responsor 3s forwards;
}
#responsor>header{
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding: .5em .5em .1em .5em;
    background-color: rgba(0,0,0,.9);
    font-size: 1.1em;

    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
#responsor>p{
    margin: 0;
    padding: .5em;
    background-color: rgba(230,220,220,.9);
    color: black;
    max-height: 5em;
    overflow-y: auto;
}