body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
#main.night{
    background: black;
    color: white;
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#main>article{
    flex-grow: 1;
    overflow-y: auto;
    padding: .5em 1em 0 1em;
}

.char{
    font-size: 1.2em;
    /* background-color: white; */
    margin: 0;
    padding: 0;
}

.char.highlighting-char{
    background-color: #f44336;
    color: white;
}

@keyframes show-responsor{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

#responsor{
    position: fixed;
    box-shadow: 0 0 1em grey;
    width: 100%;
    top: 50%;
    margin: 0 1em;
    left: 0;
    right: 0;
    opacity: 1;
    display: none;
    /* border-radius: .5em; */
    list-style: none;
    background: rgba(0,0,0,.3);
    padding: 0;
}
#responsor>li{
    background: rgba(110,110,110,.95);
    display: flex;
    align-items: center;
    margin: 2px 0;
}
#responsor>li>div{
    background: #2196F3;
    color: white;
    padding: .5em;
    align-self: stretch;
    height: auto;
    display: flex;
    align-items: center;
}
#responsor>li>header{
    font-weight: bolder;
    padding: 0 .5em;
    color: white;
}
#responsor>li>header::after{
    content: ":";
}
#responsor>li>p{
    margin: .5em;
    color: whitesmoke;
    word-break: break-all;
}
#responsor.show-responsor{
    display: block;
    animation: show-responsor 3s forwards;
}