<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">

<head>
    <meta charset="UTF-8">
    <title>书桌</title>
    <link rel="stylesheet" href="/css/adaptive.css">
    <!--<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">-->
    <link rel="stylesheet" href="/css/universal.css">
    <!--<script src="/lib/vue/vue.js"></script>-->
    <link rel="stylesheet" href="/css/desk.css">
    <script src="/lib/vue/vue.js"></script>
    <script src="/lib/sockjs-client/sockjs.min.js"></script>
    <script src="/lib/stomp/stomp.js"></script>
</head>

<body>
    <header id="token" style="display: none;" th:text="${token}"></header>
    <input type="text">
    <button onclick="ws.send()">send</button>
    <main id="main">
        <aside id="tool">
            <button class="tool-control" @click="next">&gt;</button>
            <button class="tool-control">-</button>
            <button class="tool-control" @click="last">&lt;</button>
        </aside>
        <article v-html='html'></article>
    </main>
</body>

<script src='/js/desk.js'>

</script>
<script>
    window.onload = function(){
        ws.connect();
    }
</script>

</html>