<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">

<head>
    <meta charset="UTF-8">
    <title>书桌</title>
    <link rel="stylesheet" href="/css/adaptive.css">
    <!--<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">-->
    <link rel="stylesheet" href="/css/universal.css">
    <!--<script src="/lib/vue/vue.js"></script>-->
    <link rel="stylesheet" href="/css/desk.css">
    <link rel="stylesheet" href="/lib/font-awesome/all.css">
    <script src="/lib/vue/vue.js"></script>
    <script src="/lib/sockjs-client/sockjs.min.js"></script>
    <script src="/lib/stomp/stomp.js"></script>

    <link rel="stylesheet" href="/css/tool.css">
    <script src="/js/tool.js"></script>
</head>

<body>
    <header id="token" style="display: none;" th:text="${token}"></header>
    <main id="main" :class="{'night': nightMode}">
        <article v-html='contentHtml()' @click="selectHighlightingRange"></article>

        <tool :text="text" @send="send" :highlighting="highlighting" 
            @switch-highlighting="switchHighlighting"
            @vote-next="voteNext" @vote-previous="votePrevious"
            :waiting-next="waitingNext" :waiting-previous="waitingPrevious"></tool>
    </main>
    <ul id="responsor" :class="[show?'show-responsor':'']">
        <li v-for="item in list">
            <div>
                <i :class="['fas', item.icon]"></i>
            </div>
            <header v-text="item.header"></header>
            <p v-text="item.content"></p>
            
        </li>
    </ul>
</body>

<script src='/js/desk.js'></script>
<script>
    window.onload = function () {
        ws.connect();
    }
</script>

</html>