<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/css/adaptive.css">
    <!--<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">-->
    <link rel="stylesheet" href="/css/universal.css">
    <!--<script src="/lib/vue/vue.js"></script>-->
    <link rel="stylesheet" href="/css/login.css">
    <script src="/lib/vue/vue.js"></script>
</head>
<body>
<main>
<form action="/desk" method="get">
    <!--<div class="input-group">-->
        <!--<input class="form-control" type="text" placeholder="enter token to start...">-->
        <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-primary">开始</button>-->
        <!--</span>-->
    <!--</div>-->
    <div class="uni-input-group">
        <input name="token" type="text" placeholder="enter token to start">
        <button class="uni-btn" type="submit">start</button>
    </div>
</form>
</main>
</body>
</html>